<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>무모한 남매들</title>
    <script type="text/javascript" src=//code.jquery.com/jquery-3.2.1.min.js></script>
    <link rel="stylesheet" href="css/mainindex.css">
</head>
<body>
    <!-- header 시작 -->
    <header class="header">
        <!--해더내용 시작(header_all)-->
        <div class="header_index">
            <div class="header_all">
                <!-- 로고(header_all_logo) -->
                <div class="header_all_logo">
                    <a href="/"><img src="../img/logo2.jpg" alt="로고이미지"></a>
                </div>
                <!-- 검색(header_all_search) -->
                <form action="/views/search" method="GET">
                    <div class="header_all_search">
                        <input class="header_search_text" type="text" name="name" placeholder="h I n 당신의 가구를 검색해 보세요.">
                        <input class="header_search_button" type="submit" style='cursor:pointer' value="검색">
                    </div>
                </form>

                <!-- 햄버거 메뉴(header_left_tab) -->
                <div class="header_tab">
                    <!--햄버거 메뉴-->
                    <div class="header_left_tab">
                        <div class="header_all_tab">
                            <input class="burger-check" type="checkbox" id="burger-check" />
                            <label class="burger-icon" for="burger-check"><span class="burger-sticks"></span></label>
                            
                            <div class="menu">
                                <div style="width: 250px;">
                                    <ul>
                                        <%-login_status[0].logout %>
                                        <%-login_status[0].user_info %>
                                    </ul>
                                </div>
                            </div>
                        </div> 
                    </div> <!--햄버거 메뉴 끝-->
                </div> <!--header_tab-->
            </div>
        </div>

        <!--네비내용 시작(nav) -->
        <div class="nav">
            <div class="nav_main">
                <li><a href="/views/store?categori=10" class="nav_link">거실</a></li>
                <li><a href="/views/store?categori=23" class="nav_link">침실</a></li>
                <li><a href="/views/store?categori=22" class="nav_link">서재</a></li>
                <li><a href="/views/store?categori=15" class="nav_link">주방</a></li>
                <li><a href="/views/store?categori=17" class="nav_link">옷방</a></li>
                <li><a href="#" class="nav_link">욕실</a></li>
            </div>
        </div>
    </header> <!--header 끝-->


    <!-- contents 시작 -->
    <div class="contents">
        <!-- 배너 시작 -->
        <div class="contents_main_slide">
            <input type="radio" name="pos" id="pos1" checked>
            <input type="radio" name="pos" id="pos2">
            <input type="radio" name="pos" id="pos3">
            <ul>
                <li><img src="img/배너1.png" alt="이벤트1"></li>
                <li><img src="img/배너2.png" alt="이벤트2"></li>
                <li><img src="img/배너3.png" alt="이벤트3"></li>
            </ul>
            <p class="contents_main_bullet">
                <label for="pos1"></label>
                <label for="pos2"></label>
                <label for="pos3"></label>
            </p>
        </div>

        <!-- 카테고리(section_icon) -->
        <section class="section_icon">
            <div class="category"><!--제목-->
                <h2>카테고리</h2>
            </div>
            <div class="icon_wrap"><!--본문-->
                <div class="icon_box">
                    <!--거실 아이콘-->
                    <li>
                        <div class="icon">
                            <div class="icon_imgBox">
                                <a href="/views/store?categori=10">
                                    <img src="img/거실.png">
                                </a>
                            </div>
                        </div>
                        <p>거실</p>
                    </li>
                    <!--침실 아이콘-->
                    <li>
                        <div class="icon">
                            <div class="icon_imgBox">
                                <a href="/views/store?categori=23">
                                    <img src="img/침실.png">
                                </a>
                            </div>
                        </div>
                        <p>침실</p>
                    </li>
                    <!--서재 아이콘-->
                    <li>
                        <div class="icon">
                            <div class="icon_imgBox">
                                <a href="/views/store?categori=22">
                                    <img src="img/서재.png">
                                </a>
                            </div>
                        </div>
                        <p>서재</p>
                    </li>
                    <!--주방 아이콘-->
                    <li>
                        <div class="icon">
                            <div class="icon_imgBox">
                                <a href="/views/store?categori=15">
                                    <img src="img/주방.png">
                                </a>
                            </div>
                        </div>
                        <p>주방</p>
                    </li>
                    <!--옷방 아이콘-->
                    <li>
                        <div class="icon">
                            <div class="icon_imgBox">
                                <a href="/views/store?categori=17">
                                    <img src="img/옷방.png">
                                </a>
                            </div>
                        </div>
                        <p>옷방</p>
                    </li>
                    <!--욕실 아이콘-->
                    <li>
                        <div class="icon">
                            <div class="icon_imgBox">
                                <a href="">
                                    <img src="img/욕실.png">
                                </a>
                            </div>
                        </div>
                        <p>욕실</p>
                    </li>
                </div><!--icon_box-->
            </div>
        </section>
        <!--contents_icon-->
    
    <!--인기인테리어(tab_content)-->
    <section class="tab_content">
        <div class="interior"><!--제목-->
            <h2>Today`s pick!</h2>
        </div>
        <div class="interior_title">
            <ul class="brand_menu">
                <li style="color: #fc5ea0;">에몬스가구</li>
                <li>까사미아</li>
                <li>디자인벤처스</li>
                <li>에넥스</li>
                <li>소프시스</li>
                <li>벤트리</li>
                <li>장인가구</li>
            </ul>
        </div><!--제목 끝-->
        <div class="interior_product">
            <% for(var i =0; i <4; i++) {%>
                <div class="product_wrap" > 
                    <div class="product_details">
                        <a class='info_link' href='/detail?id=<%=pick_data[i].product_id %>'><img  class="product_Img" src=<%=pick_data[i].imglink %>></a>
                            <div class="product_info">
                                <div class="info_brand"><a href='/detail?id=<%=pick_data[i].product_id %>'><%=pick_data[i].brand %></a></div>
                                <div class="info_name" name='<%=pick_data[i].product_id %>'><a href='/detail?id=<%=pick_data[i].product_id %>'><%=pick_data[i].name %></a></div>
                                <div class="info_price"><a href='/detail?id=<%=pick_data[i].product_id %>'><%=pick_data[i].price %></a></div>
                                <% if (login_status[0].status  == "ok"){ %>
                                    <% if (pick_data[i].heart == "ok") { %>
                                        <button class="wishlist_btn" name="del"><img src="img/heart.svg" name="<%=i %>" ></button><!-- svg 하트 -->
                                    <% }else { %>
                                        <button class="wishlist_btn" name="add"><img src="img/empty_heart.svg" name="<%=i %>"></button><!-- svg 빈하트 -->
                                    <% } %>
                                <% } else { %>
                                    <button class="wishlist_btn" name="heart"  onclick="Access_msg()"><img src="img/empty_heart.svg" ></button><!-- svg 빈하트 -->
                                <% } %>
                        </div>
                    </div>
                </div>
                    <% } %>
            </div>
    </section>

    <!--인기상품(section_popular)-->
    <section class="section_popular">
        <!--제목 -->
        <div class="popular">
            <h2>전체 상품</h2>
        </div>

        <!-- ejs 형식으로 서버에서 데이터 받아서 쓰는 형식으로 바꿈. -->
        <div class="popular_product"> 
            <!--상품-->
            <% for(var i =0; i <8; i++) {%>
            <div class="product_wrap" > 
                <div class="product_details">
                    <a class='info_link' href='/detail?id=<%=main_data[i].product_id %>'><img  class="product_Img" src=<%=main_data[i].imglink %>></a>
                    <div class="product_info">
                            <div class="info_brand" ><a href='/detail?id=<%=main_data[i].product_id %>'><%=main_data[i].brand %></a></div>
                            <div class="info_name" name='<%=main_data[i].product_id %>'><a href='/detail?id=<%=main_data[i].product_id %>'><%=main_data[i].name %></a></div>
                            <div class="info_price"><a href='/detail?id=<%=main_data[i].product_id %>'><%=main_data[i].price %></a></div>
                            <% if (login_status[0].status  == "ok"){ %>
                                <% if (main_data[i].heart == "ok") { %>
                                    <button class="wishlist_btn" name="del"><img src="img/heart.svg" name="<%=i+4 %>" ></button><!-- svg 하트 -->
                                <% }else { %>
                                    <button class="wishlist_btn" name="add"><img src="img/empty_heart.svg" name="<%=i+4 %>"></button><!-- svg 빈하트 -->
                                <% } %>
                            <% } else { %>
                                <button class="wishlist_btn" name="heart" ><img src="img/empty_heart.svg" ></button><!-- svg 빈하트 -->
                            <% } %>
                    </div>
                </div>
            </div>
            <% } %>
        </div>
        <!-- 여기까지가 처음 인기상품 보여지는 grid -->


        <!-- 더보기 버튼 눌렀을 때 script로 상품들 추가하려고 grid한개 더 만들었음. -->
        <div class="plus_product"></div>       <!-- 그리드안에 내용이 없지만 버튼을 누르면 내용을 추가하는 형식으로 script 만들었음. -->
        <div class="plus_button"><button class="more_product">더 보 기</button></div>
    </section>
    
  

    <!--footer 시작-->
    <footer id="footer">
        <div class="footer_wrap">
            <h2>1234-1234</h2>
            <p>평일 09:00~18:00 (주말 & 공휴일 제외)
            <br/><br/>브랜드 스토리&emsp;회사소개&emsp;채용정보&emsp;이용약관&emsp;개인정보처리방침&emsp;공지사항&emsp;고객의 소리&emsp;전문가 등록&emsp;사업자 구매회원
            <br/><br/>상호명: (주)HIN&emsp;이메일: hin@ansan.ac.kr&emsp;팀원: 윤상규, 홍의주, 김태은, 안현빈&emsp;사업자등록번호: 123-456-789
            <br/><br/>주소: 경기도 안산시 상록구 안산대학로 155</p>
        </div>
    </footer>

    <script type="text/javascript" src="script/wishlist.js"></script>
    <script type="text/javascript" src="script/pageing.js"></script>
    <script type="text/javascript" src="script/pick.js"></script>
</body>
</html>